Ejercicio 6.dtd

<!ELEMENT listaCursos (curso)+>
<!ELEMENT curso (alumno)+>
<!ELEMENT alumno (dni, nombre, apellido1, apellido2?, listaAsignaturas)>
<!ELEMENT profesor (nrp, nombre, apellido1, apellido2?)>
<!ELEMENT listaAsignaturas (asignatura+)>
<!ELEMENT asignatura (nombre, profesor)>
<!ATTLIST asignatura codigo CDATA #REQUIRED>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT nrp (#PCDATA)>